bin/
obj/
packages/
build/

!NuGet.exe

*.suo
*.csproj.user
*.pubxml.user
*.sdf
*.mdf
*.ldf
_ReSharper.*
*.resharper
PublishProfiles
*.DS_Store
*.DotSettings.user

/src/OnPremise/WebSite/WebSite_Publish.csproj
/eConduct.IdentityServer.sln
/src/OnPremise/WebSite/Properties/PublishProfiles
/src/OnPremise/WebSite/Properties/PublishProfiles/*.pubxml
